header {
	height: 100px;
	line-height: 100px;
	margin: 20px 150px 0 100px;
}
body{
     background-color: #87b22273	;
    font: 1rem/1.5 var(--bs-font-sans-serif); ;
}
h1{
    font: 300;
    color: brown;
    text-align: center;
    background-color:black;
}
footer{
    text-align: center;
    background-color: #B22222;
    font-weight: bold;
}
p{
    font-weight: bold;
    
}
html {
    height: 100%;
    scroll-behavior: smooth;
}